<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
      <title>I love you</title>
  <link rel="icon" type="image/x-icon" href="/images/heart-solid.svg">
</head>
<body>
<div class="wrapper">
    <h2 class="h2-text">Oh gahd oh gahd gahd oh gahd!!</h2>
    <h2 class="h2-text">Happy Valentine's Day my love. You deserve it all.</h2>
    <img  alt="gif" id="yes_valentines" src="/images/yes_valentines.webp"/>
    <div class="heart x1"></div>
    <div class="heart x2"></div>
    <div class="heart x3"></div>
    <div class="heart x4"></div>
    <div class="heart x5"> </div>
    <div class="altheart x6"></div>
</div>
</body>
</html>
