.gif {
  height: 200px;
  width: 200px;
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  color: #e94d58;
  margin: 15px 0;
}

button
{
  width: 150px;
  height: inherit;
  font-size: 1.2em;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 4px gray;
  border: 2px solid #e94d58;
  color: white;
}

a
{
  text-align: center;
  width: 150px;
  height: inherit;
  font-size: 1.2em;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 4px gray;
  border: 2px solid #e94d58;
  color: #e94d58;
}

button:nth-child(1) {
  margin-left: -200px;
  background: #e94d58;
}
button:nth-child(2) {
  margin-right: -200px;
  background: white;
  color: #e94d58;
}

html, body {
  height: 100%;
  align-items: center;
  background: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  width: 100%;
  background: #f3f4f4;
  min-height: 100%;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.x1 {
  left: 5%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.6;
  -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 25%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9;
  -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
  left: 55%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
  left: 72%;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.9;
  -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite, sideWays 0zs ease-in-out infinite alternate;
}
.x5 {
  left: 88%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
  -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x6 {
  left: 33%;
  opacity: 1;
  -webkit-animation: moveclouds 2s linear infinite, swayWays 1s ease-in-out infinite alternate;
  animation: moveclouds 10s linear infinite, swayWays 9s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
  0% {
    top: 500px;
  }
  100% {
    top: -500px;
  }
}

@keyframes moveclouds {
  0% {
    top: 500px;
  }
  100% {
    top: -500px;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left:0px;
  }
  100% {
    margin-left:50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left:0px;
  }
  100% {
    margin-left:50px;
  }
}

@-keyframes swayWays {
  0% {
    transform: rotate(12deg);
    left:-0.3%;
  }
  33%{
    transform: rotate(-2deg);
    left: 0.7%;
  }
  100% {
    transform: rotate(0deg);
    left:-12%;
  }
}

/* //  HEART CODE */
.altheart {
  background: url('../images/113439_img25_twotoneheart.webp') no-repeat center;
  width: 50px;
  height: 47px;
  position: relative;
  display: block;
}

.heart {
  position: relative;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 28px;
  top: 0;
  width: 28px;
  height: 40px;
  background: #CC2022;
  -moz-border-radius: 20px 50% 0 0;
  border-radius: 30px 30px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin :100% 100%;
}

@media screen and (max-width: 720px) {
  #yes_valentines {
    width: 400px;
    height: 400px;
  }
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.gif {
  height: 200px;
  width: 200px;
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  color: #e94d58;
  margin: 15px 0;
}

.btn-group {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  position: absolute;
  width: 150px;
  height: inherit;
  color: white;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px gray;
  border: 2px solid #e94d58;
  font-size: 1.2em;
}

a {
  margin-right: 200px;
  text-decoration: none;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: inherit;
  color: #e94d58;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px gray;
  border: 2px solid #e94d58;
  font-size: 1.2em;
}

button:nth-child(1) {
  margin-left: -200px;
  background: #e94d58;
}

button:nth-child(2) {
  margin-right: -200px;
  background: white;
  color: #e94d58;
}
